html, body{
margin:0;
padding:0;
height:100%;
overflow:hidden;
}

#container{
height:100%;
transition: transform 0.6s ease;
}

.page{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:40px;
}
